CP1
[{"id":"78e13d03.0c56d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a7260a81.9357b8","type":"inject","z":"78e13d03.0c56d4","name":"on","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["ce92d53d.595ab8","b8e9cefa.12651"]]},{"id":"87032798.27a8b8","type":"inject","z":"78e13d03.0c56d4","name":"off","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["ce92d53d.595ab8","b8e9cefa.12651"]]},{"id":"ce92d53d.595ab8","type":"debug","z":"78e13d03.0c56d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":220,"wires":[]},{"id":"b8e9cefa.12651","type":"rpi-gpio out","z":"78e13d03.0c56d4","name":"led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":540,"y":380,"wires":[]}]
