CP2
[{"id":"66d1c38f.6ee7dc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"79dcf32c.d7870c","type":"inject","z":"66d1c38f.6ee7dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["ab92e24c.21ee7"]]},{"id":"ab92e24c.21ee7","type":"function","z":"66d1c38f.6ee7dc","name":"payload","func":"msg.headers={\n    deviceKey : \"G0zz9YPFpfY2atcy\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["38294235.34a89e"]]},{"id":"38294235.34a89e","type":"http request","z":"66d1c38f.6ee7dc","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D4NiIzxu/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":260,"wires":[["847d35b5.c48da8","a8974a2.f4aadb8"]]},{"id":"847d35b5.c48da8","type":"http response","z":"66d1c38f.6ee7dc","name":"","statusCode":"","headers":{},"x":730,"y":300,"wires":[]},{"id":"a8974a2.f4aadb8","type":"debug","z":"66d1c38f.6ee7dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":420,"wires":[]}]
