CP3
[{"id":"ee3607a7.874758","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4314cb45.62b1e4","type":"function","z":"ee3607a7.874758","name":"payload","func":"msg.headers={\n    deviceKey : \"G0zz9YPFpfY2atcy\"\n    };\nmsg.payload =\"Temperature,,50\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["64ea88e3.919b08"]]},{"id":"64ea88e3.919b08","type":"http request","z":"ee3607a7.874758","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D4NiIzxu/datapoints.csv","tls":"","proxy":"","authType":"","x":480,"y":260,"wires":[["c7c8486.8cf17b8","a44d0305.31c44"]]},{"id":"2a5a9c31.3fb1f4","type":"inject","z":"ee3607a7.874758","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["4314cb45.62b1e4"]]},{"id":"c7c8486.8cf17b8","type":"http response","z":"ee3607a7.874758","name":"","statusCode":"","headers":{},"x":650,"y":260,"wires":[]},{"id":"a44d0305.31c44","type":"debug","z":"ee3607a7.874758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]}]
